@{
    ViewBag.Title = "About";
}

<html>
<head>
    <title></title>
</head>
<body>
<p id="text"></p>



    <script>
        var text = "";

        for (var i = 0; i < 10; i++) {
            if (i == 4) {
                //break; to stop the loop
                continue;
            }
            text += i + "<br>";

        }

        document.getElementById("text").innerHTML = text;
    </script>
</body>
</html>