@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script>

    //var x = 10;
    //let y = 10;
    //const z = 10;

    function example() {
        console.log(i);
        for (var i = 0; i < 10; i++) {
            //output
        }
        var x = 10;
        if (x < 20) {
            var y = 30;
        }
        console.log(i);
    }

</script>