@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/JavaScriptPractice.js"></script>
<link href="~/Scripts/Site.css" rel="stylesheet" />
<h1>JavaScript Practice</h1>

<html>
<head>
    <title></title>

</head>

<body @*onload="toggleNav()"*@>
    @*<nav id="closenav">
            <div onclick="toggleNav()"></div>
        </nav>*@

    <script>
                //variable that is equal to a value is also an object

                    //var navStatus = true;
                    //function toggleNav() {
                    //    if (navStatus == true) {
                    //        document.getElementById("closenav").style.left = "-300px";
                    //        navStatus = false;
                    //    }
                    //    else if (navStatus == false) {
                    //        document.getElementById("closenav").style.left = "0px";
                    //        navStatus = true;
                    //    }

                        //alert("It works");
                    }
    </script>
    @*<p onclick="myScript()">Click me!</p>*@

    <div id="test"></div>
    <script>
        //global variable, outside of function
        //var person = "Daniel";
        //function myScript() {
        //    //local scope
        //    var person = "Daniel";
        //    document.write(person);
        //}
        //myScript();
        //function myScript() {
        //    document.write("clicked");
        //}
        //var x = 10;
        //x = 10 + 5;
        //x += 5;
        //x *= 5;

        //these two will give 5, then 6 (5+1) and 4 (5-1)
        //5++
        //5--

        ////these two will give 6 (1+5) and 4 (5-1) at first
        //++5
        //--5

        //store properties to an object
        //var person = { name: "Daniel", age:25, numberOfLegs: 2};

        //var persons = ["Daniel", "Lisa", "Sussi"];

        //var person = "Daniel";

        //var number1 = 1;
        //var number2 = 2;

        //document.write(number1 + number2);

        //var dog;
        //dog = "Frida";
        //var person = {
        //    firstname: "Daniel",
        //    lastname: "Nielsen",
        //    age: 25,
        //    haircolor: "Brown",
        //    fullname: function () {
        //        return "The persons name is " + this.firstname + " " + this.lastname;
        //    }
        //}
        //document.write(person.fullname());

        var first = "Daniel";
        var last = "Nielsen";
        function fullName() {
            return "<p class=''>" + first + " " + last + "</p>";
        } 
        document.write(fullName());
        //too much code, lets use a method instead! document.write(person.firstname + " " + person.lastname);
        //document.write(person.age);


        //document.write(person);
        //console is great for testing and seeing what is going on
        console.log("Hi there!");
                    //document.getElementById("test").innerHTML = "Hi there again!";
                    //document.write("Hi There!");
                    //alert("Hi there!");


    </script>

</body>
</html>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>